/*Обнуление*/
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size: 18px;
    color: #fff;
	 font-family: Inter;
	 font-weight: 400;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
	
}

.text{
    padding:10px 20px;
    margin: 30px;
    border: 5px solid rgb(252, 0, 0);
    font-size: 4em;
}
/***********************HEADER*************************/
.header {
	background-image: url(/assets/img/bg.jpg);
	background-repeat: no-repeat; /* Фоновое изображение не повторяется*/
	background-position: center top;
	background-size: 1440px 910px;
	padding-bottom: 332px;
}

.header__container {
	display: flex;
}
._container {
	max-width: 1400px;
   margin: 0px auto;
}
.header__logo {
	padding-top: 20px;
	margin-right: 780px;
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	margin: 20px 0px;
}
.menu__item {
	padding: 0px 0px 0px 30px;
}
.menu__link {
	color: #FFFFFF;
	font-size: 20px;
	line-height: calc(50 / 20 * 100%); /**line-height: 50px; font-size: 20px;**/
	font-weight: 500;
}
.header__language {
	font-size: 20px;
	line-height: calc(50 / 20 * 100%); /**line-height: 50px; font-size: 20px;**/
	padding: 0px 0px 0px 31px;
	margin: 20px 0px;
	}
.language__list {
	display: flex;
}
.language__item-en{
	color: #BDAE82;
}
.language__item1 {
	padding: 0px 8px 0px 9px;
}
.languahe__item {
}
.header__hero {
	margin-top: 158px;
}

.header__hero-title {
	margin-left: 65px;
	font-family: Merriweather;
	font-weight: 700;
	font-size: 60px;
	line-height: calc(120 / 60 *100%);
}
.header__hero-text {
	margin-left: 65px;
	margin-top: 10px;
	font-size: 20px;
	line-height: calc(40 / 20 * 100%);
	width: 470px;
}
.header__hero-buttons {
	background:#BDAE82 ;
	margin-left: 65px;
	margin-top: 25px;
	height: 55px;
	width: 220px;
	}
.header__hero-button {
	font-size: 20px;
	line-height: calc(40 / 20 * 150%);
	color: #000;
	margin-left: 73px;
}
/***************************MAIN*********************************/
.main {

}
.main-block__container {
}
._container {
}
.main-block__body {
}
.main-block__body-title {
}
.block__body-title {
}