/*Обнуление*/
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size: 18px;
    color: #fff;
	 font-family: Inter;
	 font-weight: 400;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
}

.text{
    padding:10px 20px;
    margin: 30px;
    border: 5px solid rgb(252, 0, 0);
    font-size: 4em;
}
/***********************HEADER*************************/
.header {
	background-image: url(/assets/img/bg.jpg);
	background-repeat: no-repeat; /* Фоновое изображение не повторяется*/
	background-position: center top;
	background-size: 1440px 910px;
	padding-bottom: 332px;
}

.header__container {
	display: flex;
}
._container {
	max-width: 1400px;
   margin: 0px auto;
}
.header__logo {
	padding-top: 20px;
	margin-right: 780px;
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	margin: 20px 0px;
}
.menu__item {
	padding: 0px 0px 0px 30px;
}
.menu__link {
	color: #FFFFFF;
	font-size: 20px;
	line-height: calc(50 / 20 * 100%); /**line-height: 50px; font-size: 20px;**/
	font-weight: 500;
}
.header__language {
	font-size: 20px;
	line-height: calc(50 / 20 * 100%); /**line-height: 50px; font-size: 20px;**/
	padding: 0px 0px 0px 31px;
	margin: 20px 0px;
	}
.language__list {
	display: flex;
}
.language__item-en{
	color: #BDAE82;
}
.language__item1 {
	padding: 0px 8px 0px 9px;
}
.languahe__item {
}
.header__hero {
	margin-top: 158px;
}

.header__hero-title {
	margin-left: 65px;
	font-family: Merriweather;
	font-weight: 700;
	font-size: 60px;
	line-height: calc(120 / 60 *100%);
}
.header__hero-text {
	margin-left: 65px;
	margin-top: 10px;
	font-size: 20px;
	line-height: calc(40 / 20 * 100%);
	width: 470px;
}
.header__hero-buttons {
	background:#BDAE82 ;
	margin-left: 65px;
	margin-top: 25px;
	height: 55px;
	width: 220px;
	}
.header__hero-button {
	font-size: 20px;
	line-height: calc(40 / 20 * 140%);
	color: #000;
	margin-left: 73px;
}
/***************************MAIN*********************************/
.main {
	width: 1440px;
	margin: 0 auto;
	background-color:#000;
	background-repeat: no-repeat; /* Фоновое изображение не повторяется*/
	background-position: center top;
	background-size: 1440px 5000px;
}
/************SKILLS*********/
.skills {
}
.skills__body {
	padding-top: 139px;
	margin-left: 370px;
}
.skills__body-title {
	background: #000;
	width: 152px;
	height: 80px;
	margin-left: 274px;
}
.skills__body-titles{
	color: #BDAE82;
	font-family: Merriweather;
	font-weight: 700;
	font-size: 40px;
	line-height: 80px ;
	margin-left: 20px;
}
.skills__body-line {
	background: #BDAE82;;
	width: 700px;
	height: 2px;
	margin-bottom: -41px;
}
.skills__header {
	display: flex;
		gap: 40px;
		flex-wrap: wrap;
}
/**camera**/
.skills__header-camera {
	margin-top: 60px;
}
.skills_camera-ico {
	margin-left: 129px;
}
.skills_camera-photo {
	margin-top: 50px;
	font-weight: 700;
	font-size: 20px;
	line-height: 40px;
	width: 280px;
	margin-left: 20px;
	text-align: center;
}
.skills_camera-about {
	margin: 20px 20px 10px 20px;
	width: 280px;
	font-size: 18px;
	line-height: 36px;
	text-align: center;

}
/**video**/
.skills__header-video {
		margin-top: 60px;
}
.skills_video-ico {
	margin-left: 130px;
}
.skills_video-video {
	margin-top: 50px;
	font-weight: 700;
	font-size: 20px;
	line-height: 40px;
	width: 280px;
	margin-left: 20px;
	text-align: center;
}
.skills_video-about {
	margin: 20px 20px 10px 20px;
	width: 280px;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
}
/**image**/
.skills__header-image {
	margin-top: 60px;
}
.skills_image-ico {
	margin-left: 127px;
}
.skills_image-retouch {
	margin-top: 50px;
	font-weight: 700;
	font-size: 20px;
	line-height: 40px;
	width: 280px;
	margin-left: 20px;
	text-align: center;
}
.skills_image-about {
	margin: 20px 20px 10px 20px;
	width: 280px;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
}
/**audio**/
.skills__header-audio {
	margin-top: 60px;
}
.skills_audio-ico {
	margin-left: 144px;
}
.skills_audio-audio {
	margin-top: 50px;
	font-weight: 700;
	font-size: 20px;
	line-height: 40px;
	width: 280px;
	margin-left: 20px;
	text-align: center;
}
.skills_audio-about {
	margin: 20px 20px 10px 20px;
	width: 280px;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
}
/********************Portfolio******************/
.portfolio {
}
.portfolio__body {
	padding-top: 139px;
	margin-left: 370px;
}
.portfolio__body-line {
	background: #BDAE82;;
	width: 700px;
	height: 2px;
	margin-bottom: -41px;
}
.portfolio__body-title {
	background: #000;
	width: 220px;
	height: 80px;
	margin-left: 232px;
	margin-bottom: 60px;
}
.portfolio__body-titles {
	color: #BDAE82;
	font-family: Merriweather;
	font-weight: 700;
	font-size: 40px;
	line-height: 80px ;
	margin-left: 20px;
	}
	.portfolio__header {
	}
	.portfolio__header-buttons {
		display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
	 margin-left: 272px;
	 width: 890px;
	 margin-bottom: 60px;
	}
	.portfolio__header-button {
		font-size: 20px;
		line-height: 40px;
		text-align: center;
		display: flex;
		height: 55px;
		justify-content: center;
		align-items: center;
		letter-spacing: 0.2px;
	}
	.portfolio__header-button-winter {
		padding: 7px 77px; 
		border: 2px solid #BDAE82;
		color: #BDAE82;
	}
	.portfolio__header-button-spring {
		padding: 7px 77px;
		margin-left: 5px;
		border: 2px solid #BDAE82;
		color: #BDAE82;
	}
	.portfolio__header-button-summer {
		padding: 7px 67px;
		margin-left: 5px;
		border: 2px solid #BDAE82;
		color: #BDAE82;
	}
	.portfolio__header-button-autumn {
		padding: 7px 71px;
		margin-left: 5px;
		background: #BDAE82;
	   color: #000;
	}
	.portfolio__header-photo{
		display: flex;
		gap: 25px;
		flex-wrap: wrap;
	}
	/****video******/
	.video__body {
		padding-top: 139px;
	margin-left: 370px;
	}
	.video__body-line {
		background: #BDAE82;;
	width: 700px;
	height: 2px;
	margin-bottom: -41px;
	}
	.video__body-title {
		background: #000;
		width: 156.03px;
		height: 80px;
		margin-left: 273px;
		margin-bottom: 60px;
	}
	.video__body-titles {
		color: #BDAE82;
		font-family: Merriweather;
		font-weight: 700;
		font-size: 40px;
		line-height: 80px ;
		margin-left: 20px;
	}
	.video__header {
		
	}
	.video__header-player{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.video-player{
		position: relative;
	}
	.video-hover{
		position: absolute;
	}
	/**Price**/

.price__body {
	padding-top: 139px;
	margin-left: 370px;
}
.price__body-title {
	background: #000;
	width: 152px;
	height: 80px;
	margin-left: 279px;
	margin-bottom: 60px;
}
.price__body-titles{
	color: #BDAE82;
	font-family: Merriweather;
	font-weight: 700;
	font-size: 40px;
	line-height: 80px ;
	margin-left: 20px;
}
.price__body-line {
	background: #BDAE82;;
	width: 700px;
	height: 2px;
	margin-bottom: -41px;
}
.price__header{
	display: flex;
		gap: 25px;
		flex-wrap: wrap;
}
.price__header-standart{
	width: 450px;
	height: 505px;
	border: 3px solid #BDAE82;
	margin-bottom: 100px;
}
.price__header-name{
	font-family: Merriweather;
	font-weight: 700;
	font-size: 28px;
	line-height: 56px;
	width: 450px;
	margin-top: 43px;
	margin-bottom: 20px;
	text-align: center;
	
	justify-content: center;
	align-items: center;
}
.price__header-dollars{
	font-family: Merriweather;
	font-weight: 700;
	color: #BDAE82;
	font-size: 24px;
	line-height: 48px;
	width: 450px;
	
	margin-bottom: 20px;
	text-align: center;
	
	justify-content: center;
	align-items: center;
}
.price__header-text-about{
	width: 364px;
	height: 180px;
	margin-left: 43.33px;
	margin-bottom: 40px;
}
.price__header-text{
	font-size: 18px;
	line-height: 36px;
	text-align: center;
}
.price__header-buttons {
	display: flex;
	flex-wrap: wrap;
	margin-left: 115px;
	width: 220px;
	background: #BDAE82;
	margin-bottom: 43px;
	height: 55px;
}
.price__header-button{
	margin-top: 8px;
	margin-left: 39px;
	color: #000;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	height: 40px;
	justify-content: center;
	align-items: center;
}
/********Contact********/
.contacts {
	background: url('/assets/img/contacts.jpg');
	background-size: auto 700px;
	background-position: center center;
 }
.contacts__me{
	padding-top: 60px;
	margin-left: 950px;
	width: 450px;
	height: 445x;
}
.contact__me-title{
	font-family: Merriweather;
	font-style: 700;
	font-size: 40px;
	line-height: 80px;
	color: #BDAE82;
	margin-bottom: 40px;
}
/**form**/
::placeholder {
	position: relative;
	font-family: Inter;
	font-weight: 400;
	color: #bdae82;
	font-size: 20px;
	line-height: 40px;
	z-index: 1;
 }
  * {
	  outline: none;
  }
form{
	width: 445px;
	position: relative;
	padding-bottom: 192.1px;
}
.contact__form-mail::after{
	position: absolute;
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	width: 446px;
	height: 46px;
	left: 2px;
	top: 2px;
}
.contact__form-tel::after{
	position: absolute;
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	width: 446px;
	height: 46px;
	left: 2px;
	top: 72px;
}
.contact__form-text::after{
	position: absolute;
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	width: 446px;
	height: 96px;
	left: 2px;
	top: 142px;
}
.form-mail{
	border: 2px solid #bdae82;
	padding-left: 20px;
	padding-top: 5px;
	width: 450px;
	height: 50px;
	margin-bottom: 20px;
	background: transparent;

}
.form-tel{
	border: 2px solid #bdae82;
	padding-left: 20px;
	padding-top: 5px;
	width: 450px;
	height: 50px;
	margin-bottom: 20px;
	background: transparent;
}
.form-text{
	border: 2px solid #bdae82;
	padding-left: 20px;
	padding-top: 5px;
	width: 450px;
	min-height: 100px;
	margin-bottom: 30px;
	resize: none;
	background: transparent;
}
button{
	width: 220px;
	height: 55px;
	display: block;
	background-color: #BDAE82;
	font-family: Inter;
	font-weight: 400;
	font-size: 20px;
	line-height: 40px;
}
/***footer**/
.footer{
	width: 1440px;
	margin: 0 auto;
	background-color:#000;
	background-repeat: no-repeat; /* Фоновое изображение не повторяется*/
	background-position: center top;
	background-size: 1440px 150px;
}
.footer__container {
	display: flex;
}

.footer__github {
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	font-size: 20px;
	line-height: 50px;
}
.footer__github-symbols {
}
.footer__github-year {
	margin-left: 20px;

}
.footer__github-github {
	margin-left: 20px;
	color: #fff;
}
a{
	color: #fff;
}
.footer__rss{
	padding-top: 50px;
	font-size: 20px;
	line-height: 50px;
	margin-left: 413px;
}
.footer__ico{
	padding-top: 50px;
	margin-left: 406px;
	display: flex;
}
.footer__ico-fb{
	margin-left: 20px;
}
.footer__ico-tw{
	margin-left: 20px;
}
.footer__ico-pinterest{
	margin-left: 20px;
}