/*Обнуление*/
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size: 18px;
    color: #fff;
	 font-family: Inter;
	 font-weight: 400;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
	
}

.text{
    padding:10px 20px;
    margin: 30px;
    border: 5px solid rgb(252, 0, 0);
    font-size: 4em;
}
/***********************HEADER*************************/
.header {
	background-image: url(/assets/img/bg.jpg);
	background-repeat: no-repeat; /* Фоновое изображение не повторяется*/
	background-position: center top;
	background-size: 1440px 910px;
	padding-bottom: 332px;
}

.header__container {
	display: flex;
}
._container {
	max-width: 1400px;
   margin: 0px auto;
}
.header__logo {
	padding-top: 20px;
	margin-right: 780px;
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	margin: 20px 0px;
}
.menu__item {
	padding: 0px 0px 0px 30px;
}
.menu__link {
	color: #FFFFFF;
	font-size: 20px;
	line-height: calc(50 / 20 * 100%); /**line-height: 50px; font-size: 20px;**/
	font-weight: 500;
}
.header__language {
	font-size: 20px;
	line-height: calc(50 / 20 * 100%); /**line-height: 50px; font-size: 20px;**/
	padding: 0px 0px 0px 31px;
	margin: 20px 0px;
	}
.language__list {
	display: flex;
}
.language__item-en{
	color: #BDAE82;
}
.language__item1 {
	padding: 0px 8px 0px 9px;
}
.languahe__item {
}
.header__hero {
	margin-top: 158px;
}

.header__hero-title {
	margin-left: 65px;
	font-family: Merriweather;
	font-weight: 700;
	font-size: 60px;
	line-height: calc(120 / 60 *100%);
}
.header__hero-text {
	margin-left: 65px;
	margin-top: 10px;
	font-size: 20px;
	line-height: calc(40 / 20 * 100%);
	width: 470px;
}
.header__hero-buttons {
	background:#BDAE82 ;
	margin-left: 65px;
	margin-top: 25px;
	height: 55px;
	width: 220px;
	}
.header__hero-button {
	font-size: 20px;
	line-height: calc(40 / 20 * 140%);
	color: #000;
	margin-left: 73px;
}
/***************************MAIN*********************************/
.main {
	width: 1440px;
	margin: 0 auto;
	background-color:#000;
	background-repeat: no-repeat; /* Фоновое изображение не повторяется*/
	background-position: center top;
	background-size: 1440px 910px;
}
/************SKILLS*********/
.skills {
}
.skills__body {
	padding-top: 139px;
	margin-left: 370px;
}
.skills__body-title {
	background: #000;
	width: 152px;
	height: 80px;
	margin-left: 274px;
}
.skills__body-titles{
	color: #BDAE82;
	font-family: Merriweather;
	font-weight: 700;
	font-size: 40px;
	line-height: 80px ;
	margin-left: 20px;
}
.skills__body-line {
	background: #BDAE82;;
	width: 700px;
	height: 2px;
	margin-bottom: -41px;
}
.skills__header {
	display: flex;
}
/**camera**/
.skills__header-camera {
	margin-top: 60px;
}
.skills_camera-ico {
	margin-left: 129px;
}
.skills_camera-photo {
	margin-top: 50px;
	font-weight: 700;
	font-size: 20px;
	line-height: 40px;
	width: 280px;
	margin-left: 20px;
	text-align: center;
}
.skills_camera-about {
	margin: 20px 20px 10px 20px;
	width: 280px;
	font-size: 18px;
	line-height: 36px;
	text-align: center;

}
/**video**/
.skills__header-video {
	margin-left: 40px;
	margin-top: 60px;
}
.skills_video-ico {
	margin-left: 130px;
}
.skills_video-video {
	margin-top: 50px;
	font-weight: 700;
	font-size: 20px;
	line-height: 40px;
	width: 280px;
	margin-left: 20px;
	text-align: center;
}
.skills_video-about {
	margin: 20px 20px 10px 20px;
	width: 280px;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
}
/**image**/
.skills__header-image {
	margin-left: 40px;
	margin-top: 60px;
}
.skills_image-ico {
	margin-left: 127px;
}
.skills_image-retouch {
	margin-top: 50px;
	font-weight: 700;
	font-size: 20px;
	line-height: 40px;
	width: 280px;
	margin-left: 20px;
	text-align: center;
}
.skills_image-about {
	margin: 20px 20px 10px 20px;
	width: 280px;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
}
/**audio**/
.skills__header-audio {
	margin-left: 40px;
	margin-top: 60px;
}
.skills_audio-ico {
	margin-left: 144px;
}
.skills_audio-audio {
	margin-top: 50px;
	font-weight: 700;
	font-size: 20px;
	line-height: 40px;
	width: 280px;
	margin-left: 20px;
	text-align: center;
}
.skills_audio-about {
	margin: 20px 20px 10px 20px;
	width: 280px;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
}
/*****Portfolio******/
.portfolio {
}
.portfolio__body {
	padding-top: 139px;
	margin-left: 370px;
}
.portfolio__body-line {
	background: #BDAE82;;
	width: 700px;
	height: 2px;
	margin-bottom: -41px;
}
.portfolio__body-title {
	background: #000;
	width: 220px;
	height: 80px;
	margin-left: 232px;
	margin-bottom: 60px;
}
.portfolio__body-titles {
	color: #BDAE82;
	font-family: Merriweather;
	font-weight: 700;
	font-size: 40px;
	line-height: 80px ;
	margin-left: 20px;
	}
	.portfolio__header {
	}
	.portfolio__header-buttons {
		display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
	 margin-left: 272px;
	 width: 890px;
	 margin-bottom: 60px;
	}
	.portfolio__header-button {
		font-size: 20px;
		line-height: 40px;
		text-align: center;
		display: flex;
		height: 55px;
		justify-content: center;
		align-items: center;
		letter-spacing: 0.2px;
	}
	.portfolio__header-button-winter {
		padding: 7px 77px; 
		border: 2px solid #BDAE82;
		color: #BDAE82;
	}
	.portfolio__header-button-spring {
		padding: 7px 77px;
		margin-left: 5px;
		border: 2px solid #BDAE82;
		color: #BDAE82;
	}
	.portfolio__header-button-summer {
		padding: 7px 67px;
		margin-left: 5px;
		border: 2px solid #BDAE82;
		color: #BDAE82;
	}
	.portfolio__header-button-autumn {
		padding: 7px 71px;
		margin-left: 5px;
		background: #BDAE82;
	   color: #000;
	}
	.portfolio__header-photo{
		display: flex;
		gap: 25px;
		flex-wrap: wrap;
	}
	/****video******/
	.video__body {
		padding-top: 139px;
	margin-left: 370px;
	}
	.video__body-line {
		background: #BDAE82;;
	width: 700px;
	height: 2px;
	margin-bottom: -41px;
	}
	.video__body-title {
		background: #000;
		width: 156.03px;
		height: 80px;
		margin-left: 273px;
		margin-bottom: 60px;
	}
	.video__body-titles {
		color: #BDAE82;
		font-family: Merriweather;
		font-weight: 700;
		font-size: 40px;
		line-height: 80px ;
		margin-left: 20px;
	}
	.video__header {
		
	}
	.video__header-player{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.video-player{
		position: relative;
	}
	.video-hover{
		position: absolute;
	}